header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: url(../imagetourdien/20.jpg) no-repeat;
    background-size: auto;
    background-position: center;
}

.app {
    
    color:  #077161 ;
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.app h1 {
    font-size: 36px;
    text-align: center;
}

.app .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

/* .input-box input:focus + .a {

} */
.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.app .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.app .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.app .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
.text-center .product-section .text::after{
    content: "";
    height: 5px;
    width: 0;
    /* background: #014238; */
    background: rgb(142, 146, 139)   ;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
}
.text-center .product-section .text:hover:after{
    width: 33%;
    transform: translate(100%);
}
.text-center .product-section .textggia::after{
    content: "";
    height: 5px;
    width: 0;
    /* background: #014238; */
    background: rgb(142, 146, 139)   ;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
}
.text-center .product-section .textggia:hover:after{
    width: 33%;
    transform: translate(100%);
}
.text-center .product-section .container .row .xem .xemchitiet{
    color: rgb(76, 54, 26)  ; 
    float:right;
}
.text-center .product-section .container .row .xemchitit{
    color:  #00b76b ; float:right;
}
.text-center .product-section .xem .xemchitiet::after{
    content: "";
    height: 5px;
    width: 0;
    background: rgb(137, 106, 87)  ;
    position: absolute;
    top: 725px;
    right: -40px;
    transition: all 0.5s ease-in-out;
}
.text-center .product-section .xem .xemchitiet:hover:after{
    width: 30%;
    transform: translate(41%);
}

