/*

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */

/* Typography */
.footer-links .footerdanhmuc {
  list-style: none;
}
.footer-links .footerdanhmuc .danhmucsanpham {
  text-decoration: none;
}
.social-icons {
  display: flex;
}
.social-icons li {
  margin-left: 18px;
  list-style: none;
}
.social-icons li a I {
  font-size: 30px;
}
.site-footer {
  background: #efefef;
  margin-top: 30px;
  padding-top: 20px;
}
.editfooter {
  margin-left: 32px;
}
.img-fluid {
  border-radius: 20px;
}
.text-muted {
  color: #077161;
}
.product-pricecart {
  color: rgb(137, 106, 87);
}
.quantity-container {
  max-width: 120px;
}
.login-sec {
  margin-left: 400px;
}
.sub-table .ba .bon {
  list-style: none;
}

.sub-table .ba .bon:hover {
  background-color: #dbdbdb;
}

.sub-table .ba {
  margin-left: -30px;
}

.sub-link {
  color: inherit;
  /* Đảm bảo liên kết sử dụng màu chữ mặc định */
  text-decoration: none;
  /* Xóa gạch chân mặc định */
}

.fa-solid.fa-right-to-bracket.fa-rotate-180.fa-lg {
  margin-right: 10px;
}

.yt-spec-button-shape-next__icon:hover .sub-table {
  display: block;
}

.sub-table {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  width: 180px;
}

/* Adjusted CSS block */
.navbar {
  /* ... */
  position: relative;
  /* Ensure the sub-table is positioned relative to the navbar */
}

.chudau {
  display: flex;
}

.chudau .bachudau {
  list-style: none;
}

.mx-auto.col-md-8.col-lg-6.order-lg-last {
  background-color: white;
  width: 450px;
}

.mx-auto.col-md-8.col-lg-6.order-lg-last .img-fluid {
  margin: 30px 00px 5px 0px;
  height: 440px;
}

.mx-auto.col-md-8.col-lg-6.order-lg-last .img-fluid1 {
  margin: 0px 40px 25px -7px;
  height: 440px;
}

.mx-auto.col-md-8.col-lg-6.order-lg-last .img-fluid2 {
  margin: 25px 10px 25px 4px;
  width: 97%;
  height: 420px;
}

.mx-auto.col-md-8.col-lg-6.order-lg-last .img-fluid3 {
  width: 97%;
  margin: 25px 10px 25px 4px;
  height: 420px;
}
.icon-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
/* home */
.icon {
  cursor: pointer;
}
.icon-container:hover .input-field {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.input-field {
  background-color: #f9f9f9;
  position: absolute;
  top: -2%;
  right: -100%;
  width: 250px;
  margin-right: 20px;
  padding: 5px 2px 0px 0px;
  border: 1px solid #ced4da;
  border-radius: 100px;
  box-sizing: border-box;
  transition: right 1s ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  animation: inputfield 5s infinite;
}
/* @keyframes inputfield
{
  0% { right: -100px;}
  25% { right: -50px;}
  75% { right: 0px;}
  100% { right: -50px;}
} */

.input-button {
  background-color: #f9f9f9;
  color: #909aa2;
  position: absolute;
  top: -2%;
  right: -100%;
  width: 80px;
  margin-right: 210px;
  padding: 5px 2px 0px 0px;
  border: 1px solid #ced4da;
  border-radius: 100px;
  box-sizing: border-box;
  transition: right 2s ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.icon-container:hover .input-button {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.fa-sharp.fa-solid {
  font-size: 30px;
  color: #909aa2;
}
.carousel {
  height: 550px;
}
.text-align-left .text-success .text {
  color: #06574a;
}
.text-center .product-section .container .text {
  position: relative;
  bottom: 40px;
  color: #045835;
}
.text-center .product-section .container .textggia {
  position: relative;
  bottom: 40px;
  color: rgb(188, 152, 106);
}
.text-center .product-section .container .row .sanphamhome {
  margin-top: 50px;
}
.text-center .product-section .container .row .product-price {
  padding-left: 50px;
}
.text-center .product-section .container .row .product-pricemau {
  color: rgb(142, 146, 139);
}
.product-pricemauchitiet{
  color :   rgb(137, 106, 87)  ;
}
.text-center .product-section .container .row .viewslx {
  float: left;
  color: grey;
  font-weight: bold;
  font-size: 15px;
}
.text-center .product-section .container .row .viewslt {
  float: right;
  color: grey;
  font-weight: bold;
  font-size: 15px;
}
.text-center .product-section .container .row .strikehome {
  color: white;
}
/* endhome */
/* order */
.text .test::after {
  content: "";
  height: 5px;
  width: 0;
  /* background: #014238; */
  background: rgb(142, 146, 139);
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.5s ease-in-out;
}

.text .test:hover::after {
  width: 33%;
  transform: translate(100%);
}
.table-responsive .untree_co-section .container .row .img-fluid {
  height: 350px;
}
.table-responsive .untree_co-section .container .row .img-fluidmomo1 {
  height: 250px;
  margin-top: 53px;
}
.table-responsive .untree_co-section .container .row .img-fluidmomo2 {
  height: 250px;
  margin-top: 30px;
}
/* endorder */
/* registration */
.untree_co-section .container .block .row .col-md-8 .registration {
  margin-top: 10px;
}
/* endregistration */
/* sanpham */
.text-center .product-section .container .text-center {
  position: relative;
  bottom: 40px;
}
/* endsanpham */
/* sanphamchitiet */
img {
  max-width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.red-button {
  /* Muốn đổi màu khác ở đây nè đặt c */
  background-color: rgb(93, 68, 53) !important;
}

.blue-button {
  /* Muốn đổi màu khác ở đây nè đặt c */
  background-color: rgb(93, 68, 53) !important;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-height: 300px;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
  justify-content: flex-end;
  display: flex;
  margin-right: 80px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
  border-radius: 70px;
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-title,
.price,
.sizes,
.colors {
  /* text-transform: UPPERCASE; */
  font-weight: bold;
}
.UPPERCASE {
  text-transform: UPPERCASE;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote {
  margin-bottom: 15px;
}
.sizes{
  margin-bottom :10px;
}
.colors{
  margin-bottom :40px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tab-pane img {
  transition: 5s;
  height: 60%;
  width: 90%;
  border-radius: 70px;
}

.preview-thumbnail li a img {
  cursor: pointer;
}

.preview-thumbnail li a img:hover {
  transform: scale(1.2);
}
.main .container .card {
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}
.heart {
  float: right;
  font-style: italic;
}
.trikechitiet{
  color: #077161 ;
}
.viewhethangchitiet{
  float: right; color: grey; font-weight: bold;font-size: 15px;
}
.muangay{
  margin-left:120px; margin-top:20px; 
}
.login-sec .form-check .doimatkhau{
  height: 40px; margin-top: 20px; width: 350px; background: white; border-radius: 40px;
}








body,
ul,
li,
p,
a,
label,
input,
div {
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: "Roboto", sans-serif;
  font-size: 22px !important;
}
/* General */
.logo {
  font-weight: 500 !important;
}
.text-warning {
  color: #ede861 !important;
}
.text-muted {
  color: #bcbcbc !important;
}
/* .text-success.mot { background-color: #000;} */
.text-success.hai {
  margin-left: 110px;
}
.text-success.ba {
  margin-left: 260px;
}
.text-success.bon {
  margin-left: 400px;
}
.text-light {
  color: #cfd6e1 !important;
}
.bg-dark {
  background-color: #212934 !important;
}
.bg-light {
  background-color: #e9eef5 !important;
}
.bg-black {
  background-color: #1d242d !important;
}
.bg-success {
  background-color: #59ab6e !important;
}
.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}
.pagination .page-link:hover {
  color: #000;
}
.pagination .page-link:hover,
.pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}
/* Nav */
#templatemo_nav_top {
  min-height: 40px;
}
#templatemo_nav_top * {
  font-size: 0.9em !important;
}
#templatemo_main_nav a {
  color: #212934;
}
#templatemo_main_nav a:hover {
  color: #69bb7e;
}
#templatemo_main_nav .navbar .nav-icon {
  margin-right: 10px;
}

/* Hero Carousel */
#template-mo-zay-hero-carousel {
  background: #efefef !important;
}
/* Accordion */
.templatemo-accordion a {
  color: #000;
}
.templatemo-accordion a:hover {
  color: #333d4a;
}
/* Shop */
.shop-top-menu a:hover {
  color: #69bb7e !important;
}
/* Product */
.product-wap {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.product-wap .product-color-dot.color-dot-red {
  background: #f71515;
}
.product-wap .product-color-dot.color-dot-blue {
  background: #6db4fe;
}
.product-wap .product-color-dot.color-dot-black {
  background: #000000;
}
.product-wap .product-color-dot.color-dot-light {
  background: #e0e0e0;
}
.product-wap .product-color-dot.color-dot-green {
  background: #0bff7e;
}
.card.product-wap .card .product-overlay {
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a {
  color: #000;
}
#carousel-related-product .slick-slide:focus {
  outline: none !important;
}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #59ab6e;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #59ab6e !important;
  font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: 0.5em !important;
  color: #000 !important;
}
/* Services */
.services-icon-wap {
  transition: 0.3s;
}
.services-icon-wap:hover,
.services-icon-wap:hover i {
  color: #fff;
}
.services-icon-wap:hover {
  background: #69bb7e;
}
/* Contact map */
.leaflet-control a,
.leaflet-control {
  font-size: 10px !important;
}
.form-control {
  border: 1px solid #e8e8e8;
}
/* Footer */
#tempaltemo_footer a {
  color: #dcdde1;
}
#tempaltemo_footer a:hover {
  color: #68bb7d;
}
#tempaltemo_footer ul.footer-link-list li {
  padding-top: 10px;
}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: 0.5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}
#tempaltemo_footer .border-light {
  border-color: #2d343f !important;
}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3,
.product-wap li,
.product-wap i,
.product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 {
    font-size: 1em !important;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 550px;
  }
  #template-mo-zay-hero-carousel .carousel-item {
    min-height: 30rem !important;
  }
  .product-wap .h3,
  .product-wap li,
  .product-wap i,
  .product-wap p {
    font-size: 18px !important;
  }
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
